* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  text-decoration: none;
  font-size: 20px;
}

.header {
  background-color:#d4ebfa ;
  height: auto;
}

.navbar {
  max-width: 1560px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.nav-links ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}


/* Login Form */

.login-form {
  background: white;


}

h1 {
  color: #3c8dbc;
  font-weight: 600;
}

.form {
  position: relative;
  margin: auto;
  padding: 2rem;
  border-radius:.5rem;
  background: #eeffff;
  width: 28rem;
  border: .1rem solid rgb(218, 218, 218);
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: .5rem;
}

input {
  height: 2rem;
  border-radius: .1rem;
  padding: .8rem;
  border: none;
  border-bottom: 1px solid #169b90;
  outline: none;
  font-size: 1.2rem;
  color: #0a2022;
}

.submit-button {
  cursor: pointer;
  padding: .5rem;
  border-radius: .1rem;
  margin-top: .8rem;
  outline: none;
  color: #444444;
  background: #92f7ee;
  border: none;
  transition: all .5s ease-in-out;
  display: flex;
  flex: 1 1 auto;
  justify-content: end;
}

.submit-button:hover {
  border-radius: 1rem;
  transition: all .5s ease-in-out;
  transform: scale(1.1);
  background: #5bc9c0;

}